<div class="row">
    <form action="/register" method="post">
        <div class="input-field">
            <input id="email" type="email" class="validate" name="email">
            <label for="email">E-mail</label>
        </div>
        <div class="input-field">
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Пароль</label>
        </div>

        <button type="submit" class="btn wave-effect center-align">Зарегистрироваться</button>
    </form>

    <p>
        Есть аккаунта? <a href="/">Войти</a>
    </p>
</div>